body {
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}
#container {
    display: flex;
    justify-content: center;
    min-height: 70vh;
}
#main {
    width: 70vw;
    padding-top: 20vh;
}
#editor {
    font-size: 14px;
}
.material-icons {
    color: #444444;
}
.hidden {
    display: none !important;
}
.icon-with-label * {
    vertical-align: sub;
}

/* toolbar */
select option {
    z-index: 1;
}
.toolbar-container {
    position: relative;
}
.expand-button {
    position: absolute;
    top: 6px;
    right: 8px;
}
.ql-formats {
    margin-right: 8px !important;
}
.ql-formats.collapsed {
    display: none !important;
}
.ql-formats:not(.leftmost)::before {
    content: '|';
    padding: 0 8px 0 0;
    color: #ccc;
    float: left;
}

/* tooltips */
.tooltipped {
    position: relative;
}
.tooltipped:hover::before, .tooltipped:focus::before {
    content: '';
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    border: .5em solid transparent;
    border-top-color: black;
    z-index: 2;
    overflow: visible;
}
.tooltipped:hover::after, .tooltipped:focus::after {
    content: attr(title);
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    text-align: center;
    background-color: black;
    color: white;
    padding: .3em;
    border-radius: .2em;
    z-index: 2;
    overflow: visible;
}

/* fonts */
#toolbar .ql-font.ql-picker {
    width: 8em;
}
#toolbar .ql-font span::before {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
}
#toolbar .ql-font span[data-label='Helvetica']::before {
    font-family: Helvetica, sans-serif;
}
#toolbar .ql-font span[data-label='Trebuchet MS']::before {
    font-family: 'Trebuchet MS', sans-serif;
}
#toolbar .ql-font span[data-label='Times New Roman']::before {
    font-family: 'Times New Roman', serif;
}
#toolbar .ql-font span[data-label='Georgia']::before {
    font-family: Georgia, serif;
}
#toolbar .ql-font span[data-label='Consolas']::before {
    font-family: Consolas, monospace;
}
.ql-font-helvetica {
    font-family: Helvetica, sans-serif;
}
.ql-font-trebuchet-ms {
    font-family: 'Trebuchet MS', sans-serif;
}
.ql-font-times-new-roman {
    font-family: 'Times New Roman', serif;
}
.ql-font-georgia {
    font-family: Georgia, serif;
}
.ql-font-consolas {
    font-family: Consolas, monospace;
}
/* font size */
