body {
    font-size: 18px;
    font-family: "Trebuchet MS", sans-serif;
    margin: 0;
    height: 100%;
}
#container {
    height: 100%;
}
#main {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
}
.editor-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
#editor {
    flex: 1;
    height: auto;
    width: clamp(300px, 75vw, 650px);
    padding: 100px 0;
    border: none;
}

.header {
    width: 100%;
}
.doc-info {
    height: 3em;
    padding: 1em;
    display: inline-block;
}
.doc-name {
    margin: 0;
    font-weight: normal;
    font-size: 1.25em;
}

.material-icons {
    color: #444444;
}
.hidden {
    display: none !important;
}
.icon-with-label * {
    vertical-align: sub;
}
.save-indicator {
    display: inline-block;
    float: right;
    margin: 1em;
}

/* quill modifications */
#editor .ql-editor {
    font: 18px "Trebuchet MS", sans-serif;
    tab-size: 36px;
    -moz-tab-size: 36px;
    line-height: 2em;
}
.ql-tooltip.ql-hidden {
    display: none;
}

/* helpers */
.word-count {
    text-align: right;
    padding-right: .5em;
}

/* toolbar */
select option {
    z-index: 10;
}
.toolbar-container {
    position: relative;
    display: flex;
    justify-content: center;
}
.expand-button {
    position: absolute;
    top: 6px;
    right: 8px;
}
.ql-formats {
    margin-right: 8px !important;
}
.ql-formats.collapsed {
    display: none !important;
}
.ql-formats:not(.leftmost)::before {
    content: '|';
    padding: 0 8px 0 0;
    color: #ccc;
    float: left;
}
.ql-picker-label.ql-active,
.ql-picker-label.ql-active * {
    color: #444 !important;
    stroke: #444 !important;
}

/* tooltips */
.tooltipped {
    position: relative;
}
.tooltipped:hover::before, .tooltipped:focus::before {
    content: '';
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    border: .5em solid transparent;
    border-top-color: black;
    z-index: 2;
    overflow: visible;
}
.tooltipped:hover::after, .tooltipped:focus::after {
    content: attr(title);
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    text-align: center;
    background-color: black;
    color: white;
    padding: .3em;
    border-radius: .2em;
    z-index: 2;
    overflow: visible;
}

/* fonts */
#toolbar .ql-font.ql-picker {
    width: 8em;
}
#toolbar .ql-font span::before {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
}
#toolbar .ql-font span[data-label='Montserrat']::before {
    font-family: Montserrat, sans-serif;
}
#toolbar .ql-font span[data-label='Trebuchet MS']::before {
    font-family: 'Trebuchet MS', sans-serif;
}
#toolbar .ql-font span[data-label='Times New Roman']::before {
    font-family: 'Times New Roman', serif;
}
#toolbar .ql-font span[data-label='Georgia']::before {
    font-family: Georgia, serif;
}
#toolbar .ql-font span[data-label='Consolas']::before {
    font-family: Consolas, monospace;
}
.montserrat {
    font-family: Montserrat, sans-serif !important;
}
.trebuchet-ms {
    font-family: 'Trebuchet MS', sans-serif !important;
}
.times-new-roman {
    font-family: 'Times New Roman', serif !important;
}
.playfair-display {
    font-family: "Playfair Display", serif !important;
}
.consolas {
    font-family: Consolas, monospace !important;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
}
